<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.jaylecavalier.chessvisionplus"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
	<application
		 android:label="@string/app_name"
		 android:icon="@drawable/launcher">
		<activity
		  	 android:name="com.jaylecavalier.chessvisionplus.MainMenuActivity"
		  	 android:label="@string/app_name"
		  	 android:screenOrientation="portrait">
		  	<intent-filter>
		  		<action android:name="android.intent.action.MAIN"/>
		  		<category android:name="android.intent.category.LAUNCHER"/>
		  	</intent-filter>
		</activity>
		<activity
			 android:name="com.jaylecavalier.chessvisionplus.SquareNamesActivity"
			 android:parentActivityName="com.jaylecavalier.chessvisionplus.MainMenuActivity">
			 <meta-data
            	 android:name="android.support.PARENT_ACTIVITY"
            	 android:value="com.jaylecavalier.chessvisionplus.MainMenuActivity"/>
        </activity>
		<activity
			 android:name="com.jaylecavalier.chessvisionplus.SettingsMenuActivity"
			 android:parentActivityName="com.jaylecavalier.chessvisionplus.MainMenuActivity">
			 <meta-data
            	 android:name="android.support.PARENT_ACTIVITY"
            	 android:value="com.jaylecavalier.chessvisionplus.MainMenuActivity"/>
        </activity>
		<activity 
			 android:name="com.jaylecavalier.chessvisionplus.SquareNamesSettingsActivity"
			 android:parentActivityName="com.jaylecavalier.chessvisionplus.SettingsMenuActivity">
			 <meta-data
            	 android:name="android.support.PARENT_ACTIVITY"
            	 android:value="com.jaylecavalier.chessvisionplus.SettingsMenuActivity"/>
        </activity>
        <activity
            android:name="com.jaylecavalier.chessvisionplus.BasicKnightSightActivity"
            android:parentActivityName="com.jaylecavalier.chessvisionplus.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaylecavalier.chessvisionplus.MainMenuActivity"/>
        </activity>
	</application>
</manifest>